@using TestDataGenerator.Resources
@using TestDataGenerator.Web.Helpers
@model TestDataGenerator.Web.Models.SetupCreateViewModel

@{
    ViewBag.Title = "Új beállítás létrehozása";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { data_bind = "value: name"})
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fields)
            <div id="question-list" data-bind="foreach: { data: fields, as: 'field' }">
                @Html.Partial("_Field")
            </div>
        </div>

        <button data-bind="click: addField" class="btn btn-primary">@Messages.Button_Caption_NewField</button>

        <div class="form-group tdg-toolbar">
            @Html.ActionLink(Messages.Link_Caption_Back, "List", "Setup", null, new { @class = "btn btn-default" })
            @Html.ActionLink(Messages.Button_Caption_Setup_Create, "Create", "Setup", null, new { @class = "btn btn-primary" })
        </div>
    </div>
}

<pre id="debug" data-bind="text: displayModelAsJSON()"></pre>

@section scripts {
    <script>
        var fieldTypeInfos = @Html.RawJsonModel((object)ViewBag.FieldTypeInfos) || [];
    </script>

    <script src="~/Scripts/app/setup/create.js"></script>
}