@using TestDataGenerator.Web.Models
@using TestDataGenerator.Resources
@using TestDataGenerator.Common
@model ForgottenPasswordViewModel
@{
    ViewBag.Title = Messages.Title_ForgottenPassword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="form-horizontal">
    @using (Html.BeginForm("ForgottenPassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <p>Adja meg az e-mail címét, és küldünk Önnek egy e-mailt, benne a jelszó módosítást megerősítő linkkel. A link @AppConfig.Account.SecurityCodeValidMinutes percig fog élni.</p>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { id = "email", placeholder = Messages.Placeholder_Email, @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="form-group">
            <input type="submit" class="form-control btn btn-primary" value="@Messages.Button_Caption_SendEmail" />
        </div>

        <div class="form-group">
            <div class="alert-info">
                @TempData["EmailSent"]
            </div>
            <div class="alert-danger">
                @Html.ValidationSummary(true)
            </div>
        </div>
    }
</div>