<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mortoff Kft.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mortoff Kft.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        window.baseURL = '@Url.Content("~")';

        function fromJsonDate(date) {
            if (date && typeof date === 'string') {
                // "/Date(1533074400000)/" --> "1533074400000"
                var purifiedDate = Number(date.replace(/\/Date\(|\)\//g, ''));

                return new Date(purifiedDate);
            }

            return null;
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>